/*

--- 01 TYPOGRAPHY SYSTEM ---

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights

Default - 400

Medium - 500
Semi-bold - 600
Bold - 700

- Line heights
Default: 1
Small - 1.05
Paragraph default - 1.6
Medium - 1.2
Large - 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS ---

- Primary: #700bd5
- Tints: #A541FF
- Shades: #4e0895
- Accents: #3FBBFE
- Greys: #6F6F6F #ADADAD #3c3c3c #212529 #495057



#888 #555 #333 #ddd

#767676 (lightest grey allowed on #fff)
#6f6f6f
#343a40


--- 05 SHADOWS ---

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS ---

Default - 9px
Medium - 11px
Big - 16px

Blog-section-card - 24px

--- 07 WHITESPACE ---

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Satoshi", sans-serif;
  line-height: 1;
  font-weight: 400;
  /* background-color: #000; */
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

/* ############## */
/* NAVBAR         */
/* ############## */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* margin: 0 14.8rem; */
  height: 9.6rem;
}

.nav--logo {
  width: 5.4rem;
  height: 5.4rem;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(120%);
}

.nav--buttons {
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.nav--button:link,
.nav--button:visited {
  text-decoration: none;
  padding: 1.8rem;
  border-radius: 24px;
  font-size: 2.1rem;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s;

  color: #495057;
}

.nav--button:hover,
.nav--button:active {
  background-color: #eff1f3;
}

.nav--active:link,
.nav--active:visited {
  color: #212529;
  font-weight: 600;
  box-shadow: 0 5px 0px -2px #700bd5;
}

.nav--active:hover,
.nav--active:active {
  box-shadow: none;
  background-color: #a641ff17;
}

.light-mode-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  border-radius: 50%;
  cursor: pointer;
  width: 5.4rem;
  height: 5.4rem;
  transition: all 0.3s;
}

.light-mode-icon {
  transform: scale(330%);
  color: #212529;
}

.light-mode-button:hover,
.light-mode-button:active {
  box-shadow: 0 0 0 3px #212529;
}

/* ############## */
/* HERO         */
/* ############## */

.hero {
  padding: 4.8rem 0 9.6rem 0;
  /* gap: 5.6rem; */
  /* border-bottom: 1px solid #ddd; */
  margin-top: 2.4rem;
  display: inline-block;
}

.hero--grid {
  display: grid;
  grid-template-columns: 6fr 5fr;
  gap: 9.6rem;
}

.hero-text {
  margin-left: 9.6rem;
  /* margin-top: 5.6rem; */
}

.hero--hello {
  font-size: 4.8rem;
  letter-spacing: -0.75px;
  line-height: 1.6;
  font-weight: 400;
}

.hero--main--text {
  color: #212529;
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.5px;
}

.hero--main--text--name {
  font-weight: 700;
  background: linear-gradient(15deg, #a541ff 15%, #3fbbfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  font-size: 2.2rem;
  margin-top: 2.4rem;
  font-weight: 400;
  line-height: 1.4;
  color: #6f6f6f;
}

.btn--hero {
  display: inline-block;
  text-decoration: none;
  font-size: 2.4rem;
  margin-top: 4.8rem;
}

.btn--hero-1:link,
.btn--hero-1:visited {
  color: #fff;
  font-size: 2.3rem;
  letter-spacing: -0.5px;
  background-color: #700bd5;
  font-weight: 500;
  padding: 1.8rem 3rem;
  border-radius: 25px;
  margin-right: 1.6rem;
  transition: all 0.3s;
}

.btn--hero-1:hover,
.btn--hero-1:active {
  background-color: #4e0895;
  box-shadow: 0 0 0 3px #700bd5;
}

.btn--hero-2:link,
.btn--hero-2:visited {
  color: #212529;
  font-weight: 500;
  font-size: 2.3rem;
  letter-spacing: -0.5px;
  background-color: #ddd;
  padding: 1.8rem 3rem;
  border-radius: 25px;
  margin-right: 1.2rem;
  transition: all 0.3s;
}

.btn--hero-2:hover,
.btn--hero-2:active {
  box-shadow: 0 0 0 3px #adadad;
}

.hero-img {
  margin-right: 9.6rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.hero--img {
  width: 100%;
  height: 100%;
}

/* ############## */
/* ABOUT ME         */
/* ############## */

.about-me {
  margin-top: 9.6rem;
  margin-bottom: 9.6rem;
  gap: 3.2rem;
  display: inline-block;
}

.about-me-grid {
  display: grid;
  grid-template-columns: 4fr 5fr;
  gap: 9.6rem;
}

.about-me-left {
  background-color: #f4f6f8;
  border-radius: 36px;
  position: relative;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.03);
  /* border: 0.1px solid #3fbbfe; */
}

.about-me--img img {
  display: inline-block;
  width: 45%;
  background-color: #f8f9fa;
  border-radius: 50%;
  position: absolute;
  top: -25%;
  border: 8px solid #fff;
}

.about-me--name {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 18%;
  font-size: 4.8rem;
  font-weight: 700;
  color: #212529;
}

.about-me--sub-content {
  display: flex;
  justify-content: center;
  font-weight: 400;
  color: #6f6f6f;
  font-size: 2.2rem;
  padding: 1.6rem 5.6rem;
  text-align: center;
}

.about-me--location {
  display: flex;
  justify-content: center;
  font-weight: 400;
  color: #212529;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 3.6rem;
}

.about-me--card-text {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 2.3rem;
  padding: 0rem 5.6rem;
  margin-bottom: 5.6rem;
  text-align: center;
  color: #212529;
  margin-bottom: 15%;
}

.about-me--card-social-bar {
  display: inline-block;
  background-color: #f3eafb;
  margin-bottom: 12%;
  width: 80%;
  padding: 1.2rem;
  border-radius: 16px;
  position: absolute;
  bottom: -23%;
  left: 10%;
}

.about-me--card-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  color: #700bd5;
}

.about-me--card-socials .fb {
  cursor: pointer;
  font-size: 3.6rem;
  transition: all 0.3s;
}
.about-me--card-socials .ig {
  font-size: 4.6rem;
  cursor: pointer;
  transition: all 0.3s;
}
.about-me--card-socials .twitter {
  font-size: 4.6rem;
  cursor: pointer;
  transition: all 0.3s;
}
.about-me--card-socials .dc {
  font-size: 4.6rem;
  cursor: pointer;
  transition: all 0.3s;
}

.about-me--card-socials .fb:hover,
.about-me--card-socials .fb:active {
  color: #4dabf7;
}
.about-me--card-socials .ig:hover,
.about-me--card-socials .ig:active {
  color: #4dabf7;
}
.about-me--card-socials .twitter:hover,
.about-me--card-socials .twitter:active {
  color: #4dabf7;
}
.about-me--card-socials .dc:hover,
.about-me--card-socials .dc:active {
  color: #4dabf7;
}

.about-me--img {
  display: flex;
  justify-content: center;

  padding-top: 3.6rem;
}

.about-me-right {
  padding: 0 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-me--heading {
  margin-bottom: 0.8rem;
}

.about-me--heading::after {
  content: "About me";
  font-size: 1.6rem;
  background-color: #e2cef7;
  font-weight: 600;
  border-radius: 20px;
  text-transform: uppercase;
  color: #700bd5;
  padding: 1rem;
  margin-bottom: -1.2rem;
}

.about-me--header {
  font-size: 4.8rem;
  font-weight: 600;
  color: #212529;
  margin-bottom: 5.6rem;
}

.about-me--main-text {
  font-size: 2.8rem;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 4.8rem;
}

.btn--about-me {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--about-me:link,
.btn--about-me:visited {
  display: inline-block;
  font-size: 2.4rem;
  color: #700bd5;
  text-decoration: none;
  border-bottom: 2px solid currentColor;
  border-radius: 2px;
  padding-bottom: 8px;
  transition: all 0.3s;
}

.btn--about-me:hover,
.btn--about-me:active {
  color: #4e0895;
  border-radius: 2px;
  border-bottom: 2px solid transparent;
}

/* ############## */
/* BLOG         */
/* ############## */

.blog {
  /* padding: 4.8rem 0 9.6rem 0; */
  /* gap: 5.6rem; */
  margin-top: 9.6rem;
  margin-bottom: 9.6rem;
  display: inline-block;
}

.blog h2 {
  font-size: 4.8rem;
  margin-bottom: 8rem;
}

.blog .grid {
  column-gap: 3.6rem;
}

.blog .small-heading::after {
  content: "Blog";
  font-size: 1.6rem;
  background-color: #e2cef7;
  font-weight: 600;
  border-radius: 20px;
  text-transform: uppercase;
  color: #700bd5;
  padding: 1rem;
  display: inline-block;
  margin-bottom: 0.8rem;
}

.blog-post {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
}

.blog-post--img {
  width: 100%;
  padding: 3.8rem;
  transform: scale(150%);
}

.blog-content {
  padding: 1.2rem 4.8rem 4.8rem 3.2rem;
}

.blog-post--category {
  font-size: 1.2rem;
  margin-top: 2.4rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
  border-radius: 20px;
  text-transform: uppercase;
  color: #1864ab;
  padding: 1rem;
  display: inline-block;
}

.category--hardware {
  background-color: #f1f3f5;
  color: #212529;
}

.category--software {
  background-color: #e5dbff;
  color: #700bd5;
}

.category--music {
  background-color: #ffdeeb;
  color: #d6336c;
}

.blog--top-grid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.blog--date {
  font-size: 1.3rem;
  top: 50%;
  left: 50%;
  transform: translate(0%, 50%);
  color: #767676;
}

.blog--heading {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.4;
  color: #212529;
}
